/target/
/project/target/
/project/project/target/
/modules/client/target/
/modules/client/project/target/
/modules/common/js/target/
/modules/common/jvm/target/
/modules/common/shared/target/
/modules/shared/target/
/modules/server/target
/modules/client/dist
/modules/client/.parcel-cache
/modules/client/node_modules
.bsp
.idea
/.bloop/
/.metals/
/project/.bloop/
/project/metals.sbt
/project/project/.bloop/
/project/project/metals.sbt
/project/project/project/
/.sbt-hydra-history
yarn.lock
/node_modules/.yarn-integrity
/.parcel-cache/
/.vscode/
